<section class="dashboard-main">
  <h1> <%= current_user.first_name %>'s Dashboard </h1>

  <%= button_to 'Log Out', logout_path, method: 'delete', class: "btn btn-primary mb1 bg-teal" %>
  <h3>Account Details</h3>
  <ul>
    <li> <%= current_user.first_name  %> <%= current_user.last_name %> </li>
    <li> <%= current_user.email%> </li>
  </ul>
  <section>
    <h1>Bookmarked Segments</h1>
  </section>

  <section>
    <h1><%= facade.header %></h1>

    <% facade.repositories[0..4].each do |repository| %>
      <ul class="repository">
        <!-- add url link via repository.url -->
        <li class="name"><%= link_to "#{repository.name}", repository.url %></li>
      </ul>

    <% end %>

  </section>
</section>
